.header{
    background-color: #1F2937;
    color: white;
    flex: display;
}

.body {
    background-color: white;
    color: black;
}



#header-link {

    display: flex;
    flex-direction: column right;
    justify-content: right;



}

.flex-container{
    display: flex;
    
    color: white;
    flex-direction: column;
    width: 43%;
}

.random {
    display: flex;
    justify-content: center;
}

.button {
    color: white;
    background-color: #3882F6;
    
    border: 1px solid white;
    cursor: pointer;
}